body {
  font-family: Playfair Display, sans-serif;
  margin: 0;
}
.header {
  padding: 20px;
  text-align: left;
  color: white;

}
.header h1 {
  font-size: 40px;
}
.navbar {
  overflow: hidden;
  background-color: #193d23;
}

.navbar a {
  background-color: #193d23;
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 13px 89px;
  text-decoration: none;
  font-family: georgia;
}

.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20.px;
}
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}